/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    padding-bottom: 40px;
    color: #5a5a5a;
    background-color: #f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
}

/*Menú editado por Guille*/

.navbar-default {
    background-color: #4772B2;
    border: none;
}

.navbar {
    margin-bottom: 0px;
}

.navbar-default .navbar-nav > li > a {
    color: #FFFEFE;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    padding: 20px 13px;
    font-size: 0.8em;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: #fff;
    background: none;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #00A902;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #4772B2;
    background-color: #fff;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    height: all;
    margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
    height: all;
    background-color: #777;
}

.carousel-inner > .item > img {
    top: 0;
    left: 0;
    height: 500px;
    min-width: 100%;
}


.borde {
    border-color: #d4d4d4;
    background-color: #fff;
    border-width: 2px;
    border-style: solid;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    margin-bottom: 60px;
    text-align: center;
}

.marketing p {
    font-size: 1.5625rem;
    line-height: 1.875rem;
    margin: 10px;
}

.marketing h1 {
    font-size: 2.5rem;
    line-height: 2.8125rem;
    color: #4772B2; /* Color del texto */
}

.marketing h2 {
    font-size: 2.5rem;
    line-height: 2.8125rem;
}

.marketing h3 {
    font-size: 1.5625rem;
    line-height: 1.875rem;
}

.marketing h4 {
    font-size: 1.25rem;
    line-height: 1.5625rem;
}

.marketing .col-lg-4 p {
    margin-right: 10px;
    margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
    margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
    color: black;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

.btn {

    margin: 3px;
}
