<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
   <system.webServer>
         <staticContent>
            <remove fileExtension=".woff" />
            <remove fileExtension=".woff2" />
            <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
            <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
            <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
            <mimeMap fileExtension=".webm" mimeType="video/webm" />
            <mimeMap fileExtension=".ogv" mimeType="video/ogg" />
         </staticContent>
		 
		<httpRedirect enabled="true" exactDestination="true" httpResponseStatus="Permanent">
	
		
<add wildcard="/limbs/order/en" destination="http://limbs.earth/Account/Register" />
<add wildcard="/limbs/order/es" destination="http://limbs.earth/Account/Register" />
<add wildcard="/limbs/order/it" destination="http://limbs.earth/Account/Register" />
<add wildcard="/limbs/order/fr" destination="http://limbs.earth/Account/Register" />
<add wildcard="/limbs/order/pt" destination="http://limbs.earth/Account/Register" />

<add wildcard="/limbs/donate/es" destination="http://atomiclab.org/donar" />
<add wildcard="/limbs/donate/en" destination="http://atomiclab.org/donar" />
<add wildcard="/limbs/donate/it" destination="http://atomiclab.org/donar" />
<add wildcard="/limbs/donate/fr" destination="http://atomiclab.org/donar" />
<add wildcard="/limbs/donate/pt" destination="http://atomiclab.org/donar" />
<add wildcard="/limbs/donate" destination="http://atomiclab.org/donar" />
<add wildcard="/donate" destination="http://atomiclab.org/donar" />

<add wildcard="/limbs/ambassador/es" destination="http://limbs.earth/Account/Register" />
<add wildcard="/limbs/ambassador/it" destination="http://limbs.earth/Account/Register" />
<add wildcard="/limbs/ambassador/fr" destination="http://limbs.earth/Account/Register" />
<add wildcard="/limbs/ambassador/pt" destination="http://limbs.earth/Account/Register" />
<add wildcard="/limbs/ambassador/en" destination="http://limbs.earth/Account/Register" />

<add wildcard="/limbs/volunteer/es" destination="http://limbs.earth/Account/Register" />
<add wildcard="/limbs/volunteer/it" destination="http://limbs.earth/Account/Register" />
<add wildcard="/limbs/volunteer/fr" destination="http://limbs.earth/Account/Register" />
<add wildcard="/limbs/volunteer/pt" destination="http://limbs.earth/Account/Register" />
<add wildcard="/limbs/volunteer/en" destination="http://limbs.earth/Account/Register" />

<add wildcard="/faq" destination="https://www.facebook.com/notes/atomic-lab/preguntas-frecuentes-faq/1109741959159108" />

<add wildcard="/limbs/faq/en" destination="https://www.facebook.com/notes/atomic-lab/frequently-asked-questions-faq/1121211098012194" />
<add wildcard="/limbs/faq/es" destination="https://www.facebook.com/notes/atomic-lab/preguntas-frecuentes-faq/1109741959159108" />
<add wildcard="/limbs/faq/it" destination="https://www.facebook.com/notes/atomic-lab/preguntas-frecuentes-faq/1109741959159108" />
<add wildcard="/limbs/faq/fr" destination="https://www.facebook.com/notes/atomic-lab/preguntas-frecuentes-faq/1109741959159108" />
<add wildcard="/limbs/faq/pt" destination="https://www.facebook.com/notes/atomic-lab/atomic-lab-perguntas-frequentes/1279442168855752" />

<add wildcard="/limbs/ambassador/manual" destination="https://docs.google.com/document/d/19InTopc8NLsGw04Gf5a-XqLqbDMUHUInQL9lR0TeanQ/edit?usp=sharing" />
<add wildcard="/limbs/ambassadors/manual" destination="https://docs.google.com/document/d/19InTopc8NLsGw04Gf5a-XqLqbDMUHUInQL9lR0TeanQ/edit?usp=sharing" />

<add wildcard="/limbs/libre" destination="https://www.facebook.com/notes/atomic-lab/proyecto-limbs-libre/1216702001796436" />
<add wildcard="/libre" destination="https://www.facebook.com/notes/atomic-lab/proyecto-limbs-libre/1216702001796436" />

<add wildcard="/CompetenciaPlugins" destination="https://docs.google.com/document/d/1PsjTReS33ZbVqVGi-6ihWh2G4nt_qdPCMoHvb15nWYU/pub" />

<add wildcard="/developers" destination="https://docs.google.com/forms/d/e/1FAIpQLScjwFRorGcSrdh7pPASDegnhCRxAXF2Lp7HYhB8wgQmXYwHIw/viewform?usp=sf_link" />

<add wildcard="/cm" destination="https://docs.google.com/forms/d/e/1FAIpQLSdnAX4plOCWxNHDfep22L7p6TF0dSoEIIhCKGBlbzIjopEV0A/viewform?usp=sf_link" />

<add wildcard="/newsletter" destination="https://my.sendinblue.com/users/subscribe/js_id/2tksq/id/1" />

<add wildcard="/bk" destination="http://limbs.earth" />

<add wildcard="/prensa" destination="https://drive.google.com/drive/folders/0B7iP1USBICyTdjZHTnFJMnZIdjQ?usp=sharing" />
<add wildcard="/packprensa" destination="https://drive.google.com/drive/folders/0B7iP1USBICyTdjZHTnFJMnZIdjQ?usp=sharing" />

<add wildcard="/limbs/ambassador/tyc" destination="https://docs.google.com/forms/d/e/1FAIpQLSfr7hCzFg2CPRi2_L44cXzt7EfYZx_x8pvsZp5CEeixbqcc_w/viewform?usp=sf_link" />

<add wildcard="/serparte" destination="https://www.facebook.com/notes/atomic-lab/ser-parte-de-atomic-lab/1188882447911725/" />

<add wildcard="/voluntariar" destination="https://docs.google.com/forms/d/e/1FAIpQLSemmeJo61Drb0WpCboZYTFUG9Kd_lXTWibu_z3jpnuqIvPhWA/viewform?usp=sf_link" />

<add wildcard="/manoton" destination="https://www.facebook.com/notes/atomic-lab/manot%C3%B3n/1196580760475227" />

<add wildcard="/embajadores" destination="https://www.facebook.com/notes/atomic-lab/programa-de-embajadores-at%C3%B3micos-del-proyecto-limbs/1203805346419435/" />

<add wildcard="/sacarfoto" destination="https://www.facebook.com/notes/atomic-lab/c%C3%B3mo-sacar-correctamente-la-foto-para-solicitar-una-mano-mec%C3%A1nica-3d/1166406336826003/" />

<add wildcard="/graciaspordonar" destination="https://www.facebook.com/notes/atomic-lab/gracias-por-donar-/1208803985919571/" />

<add wildcard="/limbs/replace" destination="https://docs.google.com/forms/d/e/1FAIpQLSfAcX9TcS56pAwL1Ehx8D-RoHdCOu_kVTTzw3nKQ5TfKYrwnQ/viewform?usp=sf_link" />
<add wildcard="/limbs/replace/es" destination="https://docs.google.com/forms/d/e/1FAIpQLSfAcX9TcS56pAwL1Ehx8D-RoHdCOu_kVTTzw3nKQ5TfKYrwnQ/viewform?usp=sf_link" />

<add wildcard="/tienda" destination="https://atomiclab.mercadoshops.com.ar" />

<add wildcard="/order" destination="http://atomiclab.org/index_order.html" />


<add wildcard="/vengadores" destination="https://www.facebook.com/notes/atomic-lab/atomic-limbs-avengers/1255034874629815/" />
<add wildcard="/avengers" destination="https://www.facebook.com/notes/atomic-lab/atomic-limbs-avengers/1255034874629815/" />
<add wildcard="/vingadores" destination="https://www.facebook.com/notes/atomic-lab/atomic-limbs-vingadores/1279433565523279/" />

<add wildcard="/animales" destination="https://docs.google.com/forms/d/e/1FAIpQLSf_CWRKjMsSX6UsD59fZmTANiZVoI-fN-zsB8Nitot90nX1zg/viewform" />
<add wildcard="/limbs/animales" destination="https://docs.google.com/forms/d/e/1FAIpQLSf_CWRKjMsSX6UsD59fZmTANiZVoI-fN-zsB8Nitot90nX1zg/viewform" />

<add wildcard="/manos3d" destination="http://limbs.earth/Account/Register" />
<add wildcard="/maos3d" destination="http://limbs.earth/Account/Register" />

<add wildcard="/argentinaron" destination="/argentinaton" />






		</httpRedirect>
   </system.webServer>
</configuration>