@media only screen and (max-width: 460px) {
	#ot {
		width: 100%;
	}
	#ot a:nth-of-type(1) li {
		border-top: solid 1px #bfbfbf;
	}
	#ot li {
		margin: 0px;
		border: 0px;
		border-bottom: solid 1px #bfbfbf;
		padding: 18px 8px;
	}
	#ot li p:nth-child(2) {
		left: inherit;
		right: 3px;
		bottom: 3px;
		font-size: 0.9em;
	}
}